Analyse exploratoire

Vérifier la qualité des données : absence de doublons, gestion des valeurs manquantes et aberrantes.
Effectuer des analyses univariées et bivariées pour comprendre la distribution des variables et leurs relations.
Produire des graphiques clairs pour illustrer les données.

In [1]:
import pandas as pd

In [2]:
df_Education=pd.read_csv('Education 1970 to 2019.csv')
df_Population=pd.read_csv('Population Estimates 2010-19.csv')
df_Poverty=pd.read_csv('Poverty Data 2019.csv')
df_Unemployment=pd.read_csv('Unemployment Med HH Income.csv')
df_Presidential08_16=pd.read_csv('US_County_Level_Presidential_Re.csv')
df_Presidential_2020=pd.read_csv('2020_US_County_Level_President.csv')

# *Appercu des df*

In [3]:
df_Education.head()

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,27.4,24.4,26472261.0,59472748.0,63756905.0,70920162.0,11.998918,26.956844,28.898697,32.145542
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,25.9,19.0,458922.0,1022839.0,993344.0,845772.0,13.819302,30.800268,29.912098,25.468332
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,...,26.9,18.0,4291.0,12551.0,10596.0,9929.0,11.483395,33.588459,28.356571,26.571573
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,...,29.3,23.1,13893.0,41797.0,47274.0,48148.0,9.193843,27.659616,31.284081,31.862459
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,...,21.3,10.9,4812.0,6396.0,4676.0,2080.0,26.786907,35.604542,26.029837,11.578713

In [4]:
df_Population.head()

,FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2019,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,308745538,308758105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,4779736,4780125,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,54571,54597,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
3,1003,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,182265,182265,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,27457,27455,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664

In [5]:
df_Poverty.head() #

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,NaN,NaN,NaN,NaN,39490096,39248096,39732096,...,16.0,65712,65594,65830,3457689.0,3405854.0,3509524.0,18.2,17.9,18.5
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,747478,730491,764465,...,21.6,51771,51179,52363,69236.0,65296.0,73176.0,24.2,22.8,25.6
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6723,5517,7929,...,19.4,58233,52517,63949,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,22360,18541,26179,...,17.2,59871,54593,65149,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5909,4787,7031,...,49.0,35972,31822,40122,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_Unemployment.head()

,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601667.0,136904680.0,5696987.0,3.995035,...,161389026.0,155102319.0,6286707.0,3.895375,163100055.0,157115247.0,5984808.0,3.669409,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2133223.0,2035594.0,97629.0,4.600000,...,2216627.0,2130845.0,85782.0,3.900000,2241747.0,2174483.0,67264.0,3.000000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21720.0,20846.0,874.0,4.000000,...,26196.0,25261.0,935.0,3.600000,26172.0,25458.0,714.0,2.700000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69533.0,66971.0,2562.0,3.700000,...,95233.0,91809.0,3424.0,3.600000,97328.0,94675.0,2653.0,2.700000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11373.0,10748.0,625.0,5.500000,...,8414.0,7987.0,427.0,5.100000,8537.0,8213.0,324.0,3.800000,35972.0,69.482918

In [7]:
df_Presidential08_16.head()

,fips_code,county,total_2008,dem_2008,gop_2008,oth_2008,total_2012,dem_2012,gop_2012,oth_2012,total_2016,dem_2016,gop_2016,oth_2016
0,26041,Delta County,19064,9974,8763,327,18043,8330,9533,180,18467,6431,11112,924
1,48295,Lipscomb County,1256,155,1093,8,1168,119,1044,5,1322,135,1159,28
2,1127,Walker County,28652,7420,20722,510,28497,6551,21633,313,29243,4486,24208,549
3,48389,Reeves County,3077,1606,1445,26,2867,1649,1185,33,3184,1659,1417,108
4,56017,Hot Springs County,2546,619,1834,93,2495,523,1894,78,2535,400,1939,196

In [8]:
df_Presidential_2020.head()

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,1001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,1003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,1005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,1007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,1009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022

# *Dimensions des df*

In [9]:
df_Education.shape,df_Population.shape,df_Poverty.shape ,df_Unemployment.shape,df_Presidential08_16.shape,df_Presidential_2020.shape

((3283, 47), (3273, 165), (3193, 34), (3275, 88), (3112, 14), (3152, 10))

In [10]:
df_Education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3283 entries, 0 to 3282
Data columns (total 47 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   FIPS Code                                                                 3283 non-null   int64
 1   State                                                                     3283 non-null   object
 2   Area name                                                                 3283 non-null   object
 3   2003 Rural-urban Continuum Code                                           3221 non-null   float64
 4   2003 Urban Influence Code                                                 3221 non-null   float64
 5   2013 Rural-urban Continuum Code                                           3221 non-null   float64
 6   2013 Urban Influence Code                                                 3221 non-null   float64
 7   Less than a high school diploma, 1970                                     3186 non-null   float64
 8   High school diploma only, 1970                                            3186 non-null   float64
 9   Some college (1-3 years), 1970                                            3186 non-null   float64
 10  Four years of college or higher, 1970                                     3186 non-null   float64
 11  Percent of adults with less than a high school diploma, 1970              3186 non-null   float64
 12  Percent of adults with a high school diploma only, 1970                   3186 non-null   float64
 13  Percent of adults completing some college (1-3 years), 1970               3186 non-null   float64
 14  Percent of adults completing four years of college or higher, 1970        3186 non-null   float64
 15  Less than a high school diploma, 1980                                     3267 non-null   float64
 16  High school diploma only, 1980                                            3267 non-null   float64
 17  Some college (1-3 years), 1980                                            3267 non-null   float64
 18  Four years of college or higher, 1980                                     3267 non-null   float64
 19  Percent of adults with less than a high school diploma, 1980              3267 non-null   float64
 20  Percent of adults with a high school diploma only, 1980                   3267 non-null   float64
 21  Percent of adults completing some college (1-3 years), 1980               3267 non-null   float64
 22  Percent of adults completing four years of college or higher, 1980        3267 non-null   float64
 23  Less than a high school diploma, 1990                                     3271 non-null   float64
 24  High school diploma only, 1990                                            3271 non-null   float64
 25  Some college or associate's degree, 1990                                  3271 non-null   float64
 26  Bachelor's degree or higher, 1990                                         3271 non-null   float64
 27  Percent of adults with less than a high school diploma, 1990              3271 non-null   float64
 28  Percent of adults with a high school diploma only, 1990                   3271 non-null   float64
 29  Percent of adults completing some college or associate's degree, 1990     3270 non-null   float64
 30  Percent of adults with a bachelor's degree or higher, 1990                3271 non-null   float64
 31  Less than a high school diploma, 2000                                     3272 non-null   float64
 32  High school diploma only, 2000                                            3272 non-null   float64
 33  Some college or associate's degree, 2000                                  3272 non-null   float64
 34  Bachelor's degree or higher, 2000                                         3272 non-null   float64
 35  Percent of adults with less than a high school diploma, 2000              3272 non-null   float64
 36  Percent of adults with a high school diploma only, 2000                   3272 non-null   float64
 37  Percent of adults completing some college or associate's degree, 2000     3272 non-null   float64
 38  Percent of adults with a bachelor's degree or higher, 2000                3272 non-null   float64
 39  Less than a high school diploma, 2015-19                                  3273 non-null   float64
 40  High school diploma only, 2015-19                                         3273 non-null   float64
 41  Some college or associate's degree, 2015-19                               3273 non-null   float64
 42  Bachelor's degree or higher, 2015-19                                      3273 non-null   float64
 43  Percent of adults with less than a high school diploma, 2015-19           3273 non-null   float64
 44  Percent of adults with a high school diploma only, 2015-19                3273 non-null   float64
 45  Percent of adults completing some college or associate's degree, 2015-19  3273 non-null   float64
 46  Percent of adults with a bachelor's degree or higher, 2015-19             3273 non-null   float64
dtypes: float64(44), int64(1), object(2)
memory usage: 1.2+ MB

In [11]:
df_Population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3273 entries, 0 to 3272
Columns: 165 entries, FIPStxt to R_NET_MIG_2019
dtypes: float64(150), int64(13), object(2)
memory usage: 4.1+ MB

In [12]:
df_Poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   FIPStxt                          3193 non-null   int64
 1   Stabr                            3193 non-null   object
 2   Area_name                        3193 non-null   object
 3   Rural-urban_Continuum_Code_2003  3136 non-null   float64
 4   Urban_Influence_Code_2003        3136 non-null   float64
 5   Rural-urban_Continuum_Code_2013  3141 non-null   float64
 6   Urban_Influence_Code_2013        3141 non-null   float64
 7   POVALL_2019                      3193 non-null   int64
 8   CI90LBALL_2019                   3193 non-null   int64
 9   CI90UBALL_2019                   3193 non-null   int64
 10  PCTPOVALL_2019                   3193 non-null   float64
 11  CI90LBALLP_2019                  3193 non-null   float64
 12  CI90UBALLP_2019                  3193 non-null   float64
 13  POV017_2019                      3193 non-null   int64
 14  CI90LB017_2019                   3193 non-null   int64
 15  CI90UB017_2019                   3193 non-null   int64
 16  PCTPOV017_2019                   3193 non-null   float64
 17  CI90LB017P_2019                  3193 non-null   float64
 18  CI90UB017P_2019                  3193 non-null   float64
 19  POV517_2019                      3193 non-null   int64
 20  CI90LB517_2019                   3193 non-null   int64
 21  CI90UB517_2019                   3193 non-null   int64
 22  PCTPOV517_2019                   3193 non-null   float64
 23  CI90LB517P_2019                  3193 non-null   float64
 24  CI90UB517P_2019                  3193 non-null   float64
 25  MEDHHINC_2019                    3193 non-null   int64
 26  CI90LBINC_2019                   3193 non-null   int64
 27  CI90UBINC_2019                   3193 non-null   int64
 28  POV04_2019                       52 non-null     float64
 29  CI90LB04_2019                    52 non-null     float64
 30  CI90UB04_2019                    52 non-null     float64
 31  PCTPOV04_2019                    52 non-null     float64
 32  CI90LB04P_2019                   52 non-null     float64
 33  CI90UB04P_2019                   52 non-null     float64
dtypes: float64(19), int64(13), object(2)
memory usage: 848.3+ KB

In [13]:
df_Unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 88 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips_txt                                   3275 non-null   int64
 1   Stabr                                      3275 non-null   object
 2   area_name                                  3275 non-null   object
 3   Rural_urban_continuum_code_2013            3219 non-null   float64
 4   Urban_influence_code_2013                  3219 non-null   float64
 5   Metro_2013                                 3222 non-null   float64
 6   Civilian_labor_force_2000                  3270 non-null   float64
 7   Employed_2000                              3270 non-null   float64
 8   Unemployed_2000                            3270 non-null   float64
 9   Unemployment_rate_2000                     3270 non-null   float64
 10  Civilian_labor_force_2001                  3270 non-null   float64
 11  Employed_2001                              3270 non-null   float64
 12  Unemployed_2001                            3270 non-null   float64
 13  Unemployment_rate_2001                     3270 non-null   float64
 14  Civilian_labor_force_2002                  3270 non-null   float64
 15  Employed_2002                              3270 non-null   float64
 16  Unemployed_2002                            3270 non-null   float64
 17  Unemployment_rate_2002                     3270 non-null   float64
 18  Civilian_labor_force_2003                  3270 non-null   float64
 19  Employed_2003                              3270 non-null   float64
 20  Unemployed_2003                            3270 non-null   float64
 21  Unemployment_rate_2003                     3270 non-null   float64
 22  Civilian_labor_force_2004                  3270 non-null   float64
 23  Employed_2004                              3270 non-null   float64
 24  Unemployed_2004                            3270 non-null   float64
 25  Unemployment_rate_2004                     3270 non-null   float64
 26  Civilian_labor_force_2005                  3263 non-null   float64
 27  Employed_2005                              3263 non-null   float64
 28  Unemployed_2005                            3263 non-null   float64
 29  Unemployment_rate_2005                     3263 non-null   float64
 30  Civilian_labor_force_2006                  3263 non-null   float64
 31  Employed_2006                              3263 non-null   float64
 32  Unemployed_2006                            3263 non-null   float64
 33  Unemployment_rate_2006                     3263 non-null   float64
 34  Civilian_labor_force_2007                  3270 non-null   float64
 35  Employed_2007                              3270 non-null   float64
 36  Unemployed_2007                            3270 non-null   float64
 37  Unemployment_rate_2007                     3270 non-null   float64
 38  Civilian_labor_force_2008                  3270 non-null   float64
 39  Employed_2008                              3270 non-null   float64
 40  Unemployed_2008                            3270 non-null   float64
 41  Unemployment_rate_2008                     3270 non-null   float64
 42  Civilian_labor_force_2009                  3270 non-null   float64
 43  Employed_2009                              3270 non-null   float64
 44  Unemployed_2009                            3270 non-null   float64
 45  Unemployment_rate_2009                     3270 non-null   float64
 46  Civilian_labor_force_2010                  3272 non-null   float64
 47  Employed_2010                              3272 non-null   float64
 48  Unemployed_2010                            3272 non-null   float64
 49  Unemployment_rate_2010                     3272 non-null   float64
 50  Civilian_labor_force_2011                  3272 non-null   float64
 51  Employed_2011                              3272 non-null   float64
 52  Unemployed_2011                            3272 non-null   float64
 53  Unemployment_rate_2011                     3272 non-null   float64
 54  Civilian_labor_force_2012                  3272 non-null   float64
 55  Employed_2012                              3272 non-null   float64
 56  Unemployed_2012                            3272 non-null   float64
 57  Unemployment_rate_2012                     3272 non-null   float64
 58  Civilian_labor_force_2013                  3272 non-null   float64
 59  Employed_2013                              3272 non-null   float64
 60  Unemployed_2013                            3272 non-null   float64
 61  Unemployment_rate_2013                     3272 non-null   float64
 62  Civilian_labor_force_2014                  3272 non-null   float64
 63  Employed_2014                              3272 non-null   float64
 64  Unemployed_2014                            3272 non-null   float64
 65  Unemployment_rate_2014                     3272 non-null   float64
 66  Civilian_labor_force_2015                  3272 non-null   float64
 67  Employed_2015                              3272 non-null   float64
 68  Unemployed_2015                            3272 non-null   float64
 69  Unemployment_rate_2015                     3272 non-null   float64
 70  Civilian_labor_force_2016                  3272 non-null   float64
 71  Employed_2016                              3272 non-null   float64
 72  Unemployed_2016                            3272 non-null   float64
 73  Unemployment_rate_2016                     3272 non-null   float64
 74  Civilian_labor_force_2017                  3272 non-null   float64
 75  Employed_2017                              3272 non-null   float64
 76  Unemployed_2017                            3272 non-null   float64
 77  Unemployment_rate_2017                     3272 non-null   float64
 78  Civilian_labor_force_2018                  3272 non-null   float64
 79  Employed_2018                              3272 non-null   float64
 80  Unemployed_2018                            3272 non-null   float64
 81  Unemployment_rate_2018                     3272 non-null   float64
 82  Civilian_labor_force_2019                  3272 non-null   float64
 83  Employed_2019                              3272 non-null   float64
 84  Unemployed_2019                            3272 non-null   float64
 85  Unemployment_rate_2019                     3272 non-null   float64
 86  Median_Household_Income_2019               3193 non-null   float64
 87  Med_HH_Income_Percent_of_State_Total_2019  3192 non-null   float64
dtypes: float64(85), int64(1), object(2)
memory usage: 2.2+ MB

In [14]:
df_Presidential08_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3112 entries, 0 to 3111
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fips_code   3112 non-null   int64
 1   county      3112 non-null   object
 2   total_2008  3112 non-null   int64
 3   dem_2008    3112 non-null   int64
 4   gop_2008    3112 non-null   int64
 5   oth_2008    3112 non-null   int64
 6   total_2012  3112 non-null   int64
 7   dem_2012    3112 non-null   int64
 8   gop_2012    3112 non-null   int64
 9   oth_2012    3112 non-null   int64
 10  total_2016  3112 non-null   int64
 11  dem_2016    3112 non-null   int64
 12  gop_2016    3112 non-null   int64
 13  oth_2016    3112 non-null   int64
dtypes: int64(13), object(1)
memory usage: 340.5+ KB

In [15]:
df_Presidential_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3152 entries, 0 to 3151
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      3152 non-null   object
 1   county_fips     3152 non-null   int64
 2   county_name     3152 non-null   object
 3   votes_gop       3152 non-null   int64
 4   votes_dem       3152 non-null   int64
 5   total_votes     3152 non-null   int64
 6   diff            3152 non-null   int64
 7   per_gop         3152 non-null   float64
 8   per_dem         3152 non-null   float64
 9   per_point_diff  3152 non-null   float64
dtypes: float64(3), int64(5), object(2)
memory usage: 246.4+ KB

# *Les valeurs manquantes*

In [16]:
def check_nulls(df):
    """
    Affiche le nombre total de valeurs nulles et le nombre de valeurs nulles par colonne.
    Args:
        df (pd.DataFrame): Le DataFrame à analyser.
    Returns:
        None
    """
    total_nulls = df.isnull().sum().sum()
    nulls_per_column = df.isnull().sum()
    
    print(f"Total des valeurs nulles : {total_nulls}\n")
    print("Valeurs nulles par variable :\n")
    print(nulls_per_column)

In [17]:
def rows_with_nulls(df):
    """
    Renvoie un DataFrame contenant uniquement les lignes avec des valeurs nulles.

    Args:
        df (pd.DataFrame): Le DataFrame à analyser.

    Returns:
        pd.DataFrame: Un sous-ensemble du DataFrame contenant les lignes avec des valeurs nulles.
    """
    return df[df.isnull().any(axis=1)]

In [18]:
print('\ndf_Education\n')
check_nulls(df_Education)

df_Education

Total des valeurs nulles : 1417

Valeurs nulles par variable :

FIPS Code                                                                    0
State                                                                        0
Area name                                                                    0
2003 Rural-urban Continuum Code                                             62
2003 Urban Influence Code                                                   62
2013 Rural-urban Continuum Code                                             62
2013 Urban Influence Code                                                   62
Less than a high school diploma, 1970                                       97
High school diploma only, 1970                                              97
Some college (1-3 years), 1970                                              97
Four years of college or higher, 1970                                       97
Percent of adults with less than a high school diploma, 1970                97
Percent of adults with a high school diploma only, 1970                     97
Percent of adults completing some college (1-3 years), 1970                 97
Percent of adults completing four years of college or higher, 1970          97
Less than a high school diploma, 1980                                       16
High school diploma only, 1980                                              16
Some college (1-3 years), 1980                                              16
Four years of college or higher, 1980                                       16
Percent of adults with less than a high school diploma, 1980                16
Percent of adults with a high school diploma only, 1980                     16
Percent of adults completing some college (1-3 years), 1980                 16
Percent of adults completing four years of college or higher, 1980          16
Less than a high school diploma, 1990                                       12
High school diploma only, 1990                                              12
Some college or associate's degree, 1990                                    12
Bachelor's degree or higher, 1990                                           12
Percent of adults with less than a high school diploma, 1990                12
Percent of adults with a high school diploma only, 1990                     12
Percent of adults completing some college or associate's degree, 1990       13
Percent of adults with a bachelor's degree or higher, 1990                  12
Less than a high school diploma, 2000                                       11
High school diploma only, 2000                                              11
Some college or associate's degree, 2000                                    11
Bachelor's degree or higher, 2000                                           11
Percent of adults with less than a high school diploma, 2000                11
Percent of adults with a high school diploma only, 2000                     11
Percent of adults completing some college or associate's degree, 2000       11
Percent of adults with a bachelor's degree or higher, 2000                  11
Less than a high school diploma, 2015-19                                    10
High school diploma only, 2015-19                                           10
Some college or associate's degree, 2015-19                                 10
Bachelor's degree or higher, 2015-19                                        10
Percent of adults with less than a high school diploma, 2015-19             10
Percent of adults with a high school diploma only, 2015-19                  10
Percent of adults completing some college or associate's degree, 2015-19    10
Percent of adults with a bachelor's degree or higher, 2015-19               10
dtype: int64

In [19]:

lignes_nulles1 = rows_with_nulls(df_Education)
lignes_nulles1

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,27.4,24.4,26472261.0,59472748.0,63756905.0,70920162.0,11.998918,26.956844,28.898697,32.145542
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,25.9,19.0,458922.0,1022839.0,993344.0,845772.0,13.819302,30.800268,29.912098,25.468332
69,2000,AK,Alaska,NaN,NaN,NaN,NaN,44994.0,50820.0,20052.0,...,35.7,24.7,34376.0,134582.0,169609.0,142019.0,7.152934,28.003729,35.292122,29.551214
70,2010,AK,Aleutian Islands,NaN,NaN,NaN,NaN,1237.0,1112.0,380.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2013,AK,Aleutians East Borough,9.0,12.0,9.0,12.0,NaN,NaN,NaN,...,20.9,4.9,380.0,1137.0,798.0,301.0,14.525994,43.463303,30.504587,11.506116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,10494.0,9681.0,8905.0,7834.0,28.428238,26.225822,24.123638,21.222300
3279,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,1792.0,2440.0,875.0,1121.0,28.773281,39.177906,14.049454,17.999357
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,3330.0,5809.0,2987.0,3015.0,21.993263,38.366028,19.727892,19.912819
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,6927.0,6132.0,6494.0,4293.0,29.048897,25.715004,27.233078,18.003019
3282,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,6794.0,8512.0,3973.0,6304.0,26.556698,33.272095,15.529844,24.641363

- toutes les lignes ayant une valeur de '2003 Rural-urban Continuum Code'  vides: les données pour completer sont introuvables 
-

In [20]:
print('\ndf_Population\n')
check_nulls(df_Population)

df_Population

Total des valeurs nulles : 11862

Valeurs nulles par variable :

FIPStxt                             0
State                               0
Area_Name                           0
Rural-urban_Continuum Code_2003    58
Rural-urban_Continuum Code_2013    53
                                   ..
R_NET_MIG_2015                     80
R_NET_MIG_2016                     80
R_NET_MIG_2017                     80
R_NET_MIG_2018                     80
R_NET_MIG_2019                     80
Length: 165, dtype: int64

In [21]:

lignes_nulles2 = rows_with_nulls(df_Population)
lignes_nulles2

,FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2019,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,308745538,308758105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,4779736,4780125,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
69,2000,AK,Alaska,NaN,NaN,NaN,NaN,NaN,710231,710249,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
79,2105,AK,Hoonah-Angoon Census Area,NaN,9.0,NaN,10.0,4.0,2150,2103,...,-6.042296,-16.698473,10.954989,-4.728132,-16.611296,18.912530,-6.583588,2.816901,6.054960,-4.183128
90,2195,AK,Petersburg Borough,NaN,9.0,NaN,11.0,0.0,3815,3207,...,5.837174,3.398208,1.224740,-4.567600,-17.704518,-9.210930,0.000000,-2.145923,-9.526736,6.451613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268,72145,PR,"Vega Baja Municipio, Puerto Rico",1.0,1.0,1.0,1.0,NaN,59662,59662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3269,72147,PR,"Vieques Municipio, Puerto Rico",7.0,7.0,12.0,12.0,NaN,9301,9301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270,72149,PR,"Villalba Municipio, Puerto Rico",2.0,2.0,2.0,2.0,NaN,26073,26073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3271,72151,PR,"Yabucoa Municipio, Puerto Rico",1.0,1.0,1.0,1.0,NaN,37941,37941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3272,72153,PR,"Yauco Municipio, Puerto Rico",3.0,2.0,2.0,2.0,NaN,42043,41947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
print('\ndf_Poverty\n')
check_nulls(df_Poverty)

df_Poverty

Total des valeurs nulles : 19064

Valeurs nulles par variable :

FIPStxt                               0
Stabr                                 0
Area_name                             0
Rural-urban_Continuum_Code_2003      57
Urban_Influence_Code_2003            57
Rural-urban_Continuum_Code_2013      52
Urban_Influence_Code_2013            52
POVALL_2019                           0
CI90LBALL_2019                        0
CI90UBALL_2019                        0
PCTPOVALL_2019                        0
CI90LBALLP_2019                       0
CI90UBALLP_2019                       0
POV017_2019                           0
CI90LB017_2019                        0
CI90UB017_2019                        0
PCTPOV017_2019                        0
CI90LB017P_2019                       0
CI90UB017P_2019                       0
POV517_2019                           0
CI90LB517_2019                        0
CI90UB517_2019                        0
PCTPOV517_2019                        0
CI90LB517P_2019                       0
CI90UB517P_2019                       0
MEDHHINC_2019                         0
CI90LBINC_2019                        0
CI90UBINC_2019                        0
POV04_2019                         3141
CI90LB04_2019                      3141
CI90UB04_2019                      3141
PCTPOV04_2019                      3141
CI90LB04P_2019                     3141
CI90UB04P_2019                     3141
dtype: int64

In [23]:

lignes_nulles3 = rows_with_nulls(df_Poverty)
lignes_nulles3

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,NaN,NaN,NaN,NaN,39490096,39248096,39732096,...,16.0,65712,65594,65830,3457689.0,3405854.0,3509524.0,18.2,17.9,18.5
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,747478,730491,764465,...,21.6,51771,51179,52363,69236.0,65296.0,73176.0,24.2,22.8,25.6
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6723,5517,7929,...,19.4,58233,52517,63949,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,22360,18541,26179,...,17.2,59871,54593,65149,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5909,4787,7031,...,49.0,35972,31822,40122,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,WY,Sweetwater County,5.0,8.0,5.0,8.0,3453,2743,4163,...,11.1,80639,73437,87841,NaN,NaN,NaN,NaN,NaN,NaN
3189,56039,WY,Teton County,7.0,8.0,7.0,8.0,1396,1073,1719,...,6.7,98837,86531,111143,NaN,NaN,NaN,NaN,NaN,NaN
3190,56041,WY,Uinta County,7.0,8.0,7.0,8.0,1699,1264,2134,...,11.1,70756,63191,78321,NaN,NaN,NaN,NaN,NaN,NaN
3191,56043,WY,Washakie County,7.0,11.0,7.0,11.0,845,626,1064,...,17.4,55122,50050,60194,NaN,NaN,NaN,NaN,NaN,NaN
3192,56045,WY,Weston County,7.0,9.0,7.0,9.0,692,523,861,...,16.7,59410,52275,66545,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
print('\ndf_Unemployment\n')
check_nulls(df_Unemployment)

df_Unemployment

Total des valeurs nulles : 706

Valeurs nulles par variable :

fips_txt                                      0
Stabr                                         0
area_name                                     0
Rural_urban_continuum_code_2013              56
Urban_influence_code_2013                    56
                                             ..
Employed_2019                                 3
Unemployed_2019                               3
Unemployment_rate_2019                        3
Median_Household_Income_2019                 82
Med_HH_Income_Percent_of_State_Total_2019    83
Length: 88, dtype: int64

In [25]:

lignes_nulles4 = rows_with_nulls(df_Unemployment)
lignes_nulles4

,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601667.0,136904680.0,5696987.0,3.995035,...,161389026.0,155102319.0,6286707.0,3.895375,163100055.0,157115247.0,5984808.0,3.669409,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2133223.0,2035594.0,97629.0,4.600000,...,2216627.0,2130845.0,85782.0,3.900000,2241747.0,2174483.0,67264.0,3.000000,51771.0,100.000000
69,2000,AK,Alaska,NaN,NaN,NaN,319511.0,299146.0,20365.0,6.400000,...,352662.0,329901.0,22761.0,6.500000,347779.0,326430.0,21349.0,6.100000,77203.0,100.000000
79,2105,AK,"Hoonah-Angoon Census Area, AK",9.0,10.0,0.0,NaN,NaN,NaN,NaN,...,1146.0,1004.0,142.0,12.400000,1160.0,1028.0,132.0,11.400000,53141.0,68.832817
90,2195,AK,"Petersburg Borough, AK",9.0,11.0,0.0,NaN,NaN,NaN,NaN,...,1379.0,1261.0,118.0,8.600000,1388.0,1267.0,121.0,8.700000,71296.0,92.348740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,19805.0,17607.0,2198.0,11.100000,...,13117.0,11750.0,1367.0,10.400000,13037.0,11791.0,1246.0,9.600000,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,2441.0,2120.0,321.0,13.200000,...,2718.0,2269.0,449.0,16.500000,2585.0,2406.0,179.0,6.900000,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,7636.0,6648.0,988.0,12.900000,...,7311.0,6154.0,1157.0,15.800000,7406.0,6231.0,1175.0,15.900000,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,10613.0,9005.0,1608.0,15.200000,...,8762.0,7509.0,1253.0,14.300000,8691.0,7552.0,1139.0,13.100000,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,14664.0,12871.0,1793.0,12.200000,...,9716.0,8288.0,1428.0,14.700000,9759.0,8331.0,1428.0,14.600000,NaN,NaN

In [26]:
print('\ndf_Presidential08_16\n')
check_nulls(df_Presidential08_16)

df_Presidential08_16

Total des valeurs nulles : 0

Valeurs nulles par variable :

fips_code     0
county        0
total_2008    0
dem_2008      0
gop_2008      0
oth_2008      0
total_2012    0
dem_2012      0
gop_2012      0
oth_2012      0
total_2016    0
dem_2016      0
gop_2016      0
oth_2016      0
dtype: int64

In [27]:
print('\ndf_Presidential_2020\n')
check_nulls(df_Presidential_2020)

df_Presidential_2020

Total des valeurs nulles : 0

Valeurs nulles par variable :

state_name        0
county_fips       0
county_name       0
votes_gop         0
votes_dem         0
total_votes       0
diff              0
per_gop           0
per_dem           0
per_point_diff    0
dtype: int64

# *Outliers*

# *Les graphiques*